<div id="<%= dom_id faculty %>">
<!--  <p>
    <strong>Faculty:</strong>
    <%= faculty.faculty_id %>
  </p>

  <p>
    <strong>Faculty name:</strong>
    <%= faculty.faculty_name %>
  </p>

  <p>
    <strong>Project description:</strong>
    <%= faculty.project_description %>
  </p>

  <p>
    <strong>Funding organization:</strong>
    <%= faculty.funding_organization %>
  </p>
-->
</div>



<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4"><%= faculty.faculty_name %></h1>
  <p class="lead"><strong>Faculty ID:</strong>
    <%= faculty.faculty_id %></p>

    <p class="lead"><strong>Project Description:</strong>
    <%= faculty.project_description %></p>

<p class="lead"><strong>Funding Institute:</strong>
    <%= faculty.funding_organization %></p>
  <hr class="my-4">

  </div>
</div>
