<div id="<%= dom_id equipment %>">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    
    <h1 class="display-4"><%= equipment.equipment_name %></h1>
  <p class="lead"><strong>Equipment ID:</strong>
    <%= equipment.equipment_id %></p>

    <p class="lead"><strong>In charge:</strong>
    <%= equipment.in_charge %></p>

<p class="lead"><strong>Location:</strong>
    <%= equipment.location %></p>
  <hr class="my-4">
  <p>
    <strong>No available:</strong>
    <%= equipment.no_available %>
  </p>

  <p>
    <strong>No in use:</strong>
    <%= equipment.no_in_use %>
  </p>

  </div>
</div>




<!--
  <p>
    <strong>Equipment ID:</strong>
    <%= equipment.equipment_id %>
  </p>

  <p>
    <strong>Equipment name:</strong>
    <%= equipment.equipment_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= equipment.location %>
  </p>

  <p>
    <strong>In charge:</strong>
    <%= equipment.in_charge %>
  </p>

  <p>
    <strong>No available:</strong>
    <%= equipment.no_available %>
  </p>

  <p>
    <strong>No in use:</strong>
    <%= equipment.no_in_use %>
  </p>

</div>
-->

